.App {
  text-align: center;
}

.card {
  width: 200px;
  height: 250px;
  border: 1px solid blue;
  margin: auto;
}

.card img {
  width: 200px;
  height: 240px;
  object-fit: cover;
}
main{
  display: flex;
  flex-direction: row;
}
