body {
  height: 100%;
  background-color: rgba(145, 181, 182, 0.808)

}

.game {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding:1em 1em 3em 1em;
  
}

h1{
  color: rgb(38, 85, 38);
}

header p {
  font-size: 20px;
  margin: 5px;
  color: rgb(160, 88, 0);
}

header{
  padding-top: 20px
}

.card {
  background-color: wheat;
  width: 200px;
  height: 250px;
  border: 2px solid rgb(49, 49, 99);
  margin: 15px auto;
  box-shadow: 5px 10px 20px rgb(54, 89, 90);
  cursor: pointer;
}

.card img {
  width: 200px;
  height: 225px;
  object-fit: cover;
  pointer-events: none;
}
main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card p{
  margin: 0;
  text-align: center;
  font-style: oblique;
  font-size: 12px;
  pointer-events: none;
}
